body {
  background-color: #0f4c75;
}

.modal-title {
    justify-content: center;
}

.glassmorphism {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.top-components {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbar-container {
  width: 300px; /* Adjust the width as needed */
}

.button-container {
  display: flex;
}

.table-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling if the table is wider than the container */
  overflow-y: auto;
}

.container {
  display: grid;
}

table {
  width: 100%; /* Make the table take up 100% of the available width */
  border-collapse: collapse; /* Ensure consistent borders between cells */
}

th, td {
  padding: 5px;
}

th {
  background-color: #1B262C;
  color: #BBE1FA;
}

td {
  background-color: rgba(255, 255, 255, 0.2);
  color: #BBE1FA;
}

td:hover {
  color: #1B262C;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
  position: relative;
  font-weight: bold;
}

tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 1px;
  bottom: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}